<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>OpenApi-KKBOX</h2>
      <a href="https://kkbox.github.io/OpenAPI-JavaScript/">KKBOX API</a>
      <!-- <pre>{{data|json}}</pre> -->
    </div>

    <div class="col-3" *ngFor="let item of data">
      <div class="card">
        <img class="card-img-top img-fluid" [src]="item.album.images[0].url" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <a [href]="item.url" class="btn btn-primary">歌詞與試聽(KKBOX連結)</a>
        </div>
      </div>
    </div>
  </div>
</div>
